[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic=">2"
uvicorn = "*"
fastapi = "*"
dotenv = "*"
langchain = "*"
langchain-google-genai = "*"
langgraph = "*"
langchain-community = "*"
google-search-results = "*"
langchain-qdrant = "*"
langchain-google-vertexai = "*"
langgraph-checkpoint-redis = "*"
pymupdf4llm = "*"
python-multipart = "*"
"discord.py" = "*"
aiohttp = "*"
python-dotenv = "*"
pynacl = "*"

[dev-packages]

[requires]
python_version = "3.11"
